@using PagedList.Mvc
@model PagedList.IPagedList<Mardom.Models.Transacciones>
@{
    ViewBag.Title = "Movimientos";
}

<h2>Movimientos</h2>


<table class="table">

    <thead>
        <tr>
            <th>Articulo</th>
            <th style="width:200px">Almacen</th>
            <th style="width:200px">Cantidad</th>
            <th style="width:200px">Movimiento</th>
            <th style="width:200px">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@(m.Descripcion)</td>
                <td>@(m.Almacen)</td>
                <td>@(m.Cantidad)</td>
                <td>@(m.Movimiento)</td>
                <td>@(m.Fecha)</td>
            </tr>
        }
    </tbody>

</table>

<div style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination-sm" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Transacciones", new { page }))
    </div>
</div>